<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;
    script-src 'self';
    connect-src 'self' http://localhost:3000;
    img-src 'self' http://localhost:3000;
    ">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Disclaimer</title>
    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="disclaimer.css">
</head>
<body>
    <header>
        <img src="../splash/icon/logo.png" alt="logo" id="logo">
        <div id="texto-header">
            <img src="../splash/icon/titulo-jp.png" alt="subarashii-jp" id="subarashii-js">
            <p>Jade-san no subarashìi manga</p>
        </div>
        <div id="icons-home">
            <a href="home.html"><img src="../splash/icon/home.png" alt="home-icon" id="home-icon"></a>
            <a href="disclaimer.html"><img src="../splash/icon/disclaimer.png" alt="disclaimer-icon" id="disclaimer-icon"></a>
        </div>
    </header>

    <div id = "hero">
        <h1 id = "na-verdade">Na verdade,</h1>
        <p id="esses-sao">Estes são os meus <strong>animes</strong> favoritos, que surgiram de mangás.*</p>
        <p id="e-eu-nao">... e eu não os classifiquei por nenhuma ordem em particular. Este aplicativo foi desenvolvido com base num tema sugerido pra uma tarefa do curso Técnico em Desenvolvimento de Sistemas do UniSenac Pelotas, pela professora Alina Timm.</p>
        <div id = "box-3">
            <p id="sinopses">sinopses: chatgpt</p>
            <p id="reproducao">imagens: reprodução</p>
        </div>

        <p id="exceto-madoka">*exceto no caso de Madoka Magica, em que o mangá foi lançado depois do anime.</p>
    </div>
    
    <footer>
        <a href="http://https://github.com/lfjade"><img src="../splash/icon/github.png" alt="github-icon"></a>
        <a href="http://https://github.com/lfjade"><spam>lfjade</spam></a>
        <img src="../splash/icon/copyright.png" alt="copyright">
        <p>2025. feito com amor.</p>
    </footer>
    <script src="disclaimerView.js"></script>
</body>
</html>