<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
    font-src 'self' https://fonts.gstatic.com;
    script-src 'self';
    connect-src 'self' http://localhost:3000;
    img-src 'self' http://localhost:3000;
    ">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <img src="../splash/icon/logo.png" alt="logo" id="logo">
        <div id="texto">
            <img src="../splash/icon/titulo-jp.png" alt="subarashii-jp" id="subarashii-js">
            <p>Jade-san no subarashìi manga</p>
        </div>
        <div id="icons-home">
            <a href="home.html"><img src="../splash/icon/home.png" alt="home-icon" id="home-icon"></a>
            <a href="disclaimer.html"><img src="../splash/icon/disclaimer.png" alt="disclaimer-icon" id="disclaimer-icon"></a>
        </div>
    </header>

    <div id = "hero">
        
    </div>
    
    <footer>
        <a href="http://https://github.com/lfjade"><img src="../splash/icon/github.png" alt="github-icon"></a>
        <a href="http://https://github.com/lfjade"><spam>lfjade</spam></a>
        <img src="../splash/icon/copyright.png" alt="copyright">
        <p>2025. feito com amor.</p>
    </footer>
    <script src="homeView.js"></script>
</body>
</html>