@import url('./base.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap');


#hero{
    gap:15px;
    margin:15px;
    align-items: center;
    justify-content: center;
}

.card{
    width:120px;
    height: 150px;
    background-color: #FFF4B1;
    display:flex;
    align-items: center;
    justify-content: center ;
    flex-direction:column;
    cursor:pointer;
}

span{
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px
}