@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    color: #3D3D3D;
}

h1, h2, h3{
    font-family: 'Poiret One';
}

header{
    background-color: #F8C8DC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 100px;
    padding: 10px 10px
}

#logo{
    height:78px;
}

#texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icons-home{
    display: flex;
    gap:20px;
    margin-right: 10px;
}

footer{
    height: 50px;
    background-color: #F8C8DC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

#hero{
    flex:1
}

body, html{
    display:flex;
    flex-direction:column;
    height:100%
}

.card{
    width:120px;
    height: 150px;
    background-color: #FFF4B1;
}