#hero{
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    background-color: #FFF4B1;
    display:flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

#main{
    flex:3;
    display:flex;
    gap:10px;
}

#main img{
    border-radius: 5px;
}

#main h1{
    display:inline
}

#topo{
    display: flex;
    justify-content: space-between;
    
}

#topo img {
    aspect-ratio: 1/1;
    object-fit: contain;
    cursor: pointer;
}

#dados{
    flex:4;
}

#menu{
    /* flex:0 0 30%; */
    display:flex;
    align-items: center;
    /* justify-content: flex-start; */
    overflow: hidden;
    gap:5px;
    overflow-x: auto;
    max-width: 100%;
    box-sizing: border-box;
    height: 30%;
}

#menu img {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    /* max-width: 30px; */
    cursor: pointer;
}

.volume-card{

    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100px;
}

.volume-card img{
    max-height: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

#cardsVolumes{
    display: flex;
    /* gap: 4px; */
    /* flex-shrink: 1; */
    /* scroll-behavior: smooth; */
    overflow-x: auto;
    flex: 1 1 auto;
}