#hero{
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    background-color: #FFF4B1;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

#main{
    flex:3;
    display:flex;
    gap:10px;
}

#main h1{
    display:inline
}

#topo{
    display: flex;
    justify-content: space-between;
    
}

#topo img {
    aspect-ratio: 1/1;
    object-fit: contain;
    cursor: pointer;
}

#dados{
    flex:4;
}

#menu{
    flex:0 0 30%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    overflow-x: auto;
}

#menu img {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    max-height: 100%;
    cursor: pointer;
}

.volume-card{
    /* classe criada dinamicamente */
    flex: 0 0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height:100%;
    /* height: 50%;
    width:50%;
    object-fit: contain;
    display: block;
    margin: 0 auto; */
}

.volume-card img{
    max-height: 100%;
    width: auto;
    object-fit:contain;
    /* display:block; */
}

#cardsVolumes{
    display: flex;
    gap: 5px;
    justify-content: center;
    /* flex: 1;
    overflow-x: auto; */
    align-items: center;
}