p{
    font-size: 18px;
    font-family: 'Quicksand';
}
#hero{
    justify-self: center;
    align-self: center;
    width: 95%;
    height: 95%;
    background-color: rgb(255, 244, 177);
    display:flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    position:relative;
    
}

#hero .bg-image {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 0.1;
    z-index:0;
}
#hero > *:not(.bg-image) {
    position: relative;
    z-index:1;
}

#c-1{
    display:flex;
    flex-direction: row-reverse;
}

#c-2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:90%;
    /* padding: 20px; */
    /* margin-right: 20px; */
}

#hero img {
    flex: 0 0 auto;
    width: auto;
    cursor: pointer;
}

#texto{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin: 20px;
    height: 90%;
}

#div-splash{
    display:flex;
    height:100%;
    margin-right: 20px;
    align-items: center;

}

#splash-volume {
    height: 90%;
    width: auto;
    border-radius: 5px;
}